{% extends 'base.html' %}
{% block config %}
<section id="config">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {% for configKey, configValue in configList.items() %}
        <h2>{{ configKey }}</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Setting</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                {% for appKey, appValue in configValue.items() %}
                <td>{{ appKey }}</td>
                <td>{{ appValue }}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}