{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm"><h2>Sites</h2></div>
        <div class="col-md-auto">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addSite">Add</button>
        </div>
    </div>  
</div>
<br>
<div class="container">
    {% for site in sites['Sites'] %}
    <div class="row">
        <div class="col d-none">{{ site['siteId'] }}</div>
        <div class="col">{{ site['siteName'] }}</div>
        <div class="col">{{ site['orgName'] }}</div>
        <div class="col-md-auto">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <!--button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#viewModal" data-bs-siteId="{{ site['siteId'] }}">View</button-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editSite" data-bs-siteId="{{ site['siteId'] }}">Edit</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteSite" data-bs-siteId="{{ site['siteId'] }}" data-bs-siteName="{{ site['siteName'] }}">Delete</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    

<!-- Modal -->
<div class="modal fade" id="addSite" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add site</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                {{ add_form.hidden_tag() }}
                <div class="modal-body">
                    <div class="form-group">
                        {{ add_form.siteName.label() }}
                        {{ add_form.siteName(class="form-control") }}
                        {{ add_form.orgId.label() }}
                        {{ add_form.orgId(class="form-control") }}
                    </div>
                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ add_form.addSubmit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editSite" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    {{ edit_form.hidden_tag() }}
                    <div class="form-group">
                        <h3 id="deleteMessage"></h3>
                            {{ edit_form.siteId() }}
                            {{ edit_form.siteName.label }} {{ edit_form.siteName() }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ edit_form.editSubmit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteSite" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete site</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    {{ delete_form.hidden_tag() }}
                    <div class="form-group">
                        <h3 id="deleteMessage"></h3>
                            {{ delete_form.siteId() }}
                            {{ delete_form.delete.label }} {{ delete_form.delete() }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ delete_form.deleteSubmit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

  <script src="{{ url_for('static', filename='js/sites.js') }}"></script>
  {% endblock %}
    